body {
  font: calc(14px * 2) "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: calc(30px * 2);
}

li {
  margin-bottom: 5px;
}

button {
  width: 150px;
  height: 40px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: calc(24px * 5);
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: calc(34px * 5);
  width: calc(34px * 5);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: calc(20px*2);
}
